* フレックスボックスで全体を整える */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    align-items: center;
    background-color: #007bff;
    color: white;
    padding: 15px;
    justify-content: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

h1 {
    margin: 0;
    font-size: 1.8em;
    white-space: nowrap;
}

footer {
    background-color: #007bff; /* ヘッダーと同じ色 */
    color: white;
    text-align: center;
    padding: 5px;
    font-size: 1em;
    margin-top: auto;
}

.medicine-list {
    list-style-type: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.medicine-list li {
    margin: 10px 0;
}

.medicine-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.medicine-list a:hover {
    text-decoration: underline;
    color: #0056b3;
}

#search-box {
    margin-top: 10px;
    padding: 8px;
    width: 80%;
    max-width: 300px;
    border: none;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    list-style: none;
    padding: 0;
}

@media (max-width: 600px) {
    #buttons-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    h1 {
        font-size: 1.2em; /* 小さい画面ではフォントサイズを縮小 */
    }
    
    .header-icon {
        width: 30px;  /* アイコンも少し小さく */
        height: 30px;
    }
}

.category-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 120px;
    text-decoration: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    transition: transform 0.2s;
    padding: 10px;
}

.category-button img {
    width: 60px;
    height: 60px;
}

.category-button:hover {
    transform: scale(1.1);
}
